<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Get Checked</title>
        <link rel="stylesheet" href="style.css" />
        <link
          rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
          integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
          crossorigin="anonymous"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
      </head>
      <body>
        <!-- Navbar Section -->

        <nav class="navbar">
          <div class="navbar__container">
              <a href="/website/index/html" id="navbar__logo">Get Checked</a>
              <div class="navbar__toggle" id="mobile-menu">
                  <span class="bar"></span> <span class="bar"></span>
                  <span class="bar"></span>
              </div>
              <ul class="navbar__menu">
                  <li class="navbar__item">
                      <a href="/" class="navbar__links" id="home-page">Home</a>
                  </li>
                  <li class="navbar__item">
                      <a href="/learn" class="navbar__links" id="about-page">Learn</a>
                  </li>
                  <li class="navbar__item">
                      <a href="/quote" class="navbar__links" id="signup">Quote Check</a>
                  </li>
                  <li class="navbar__btn">
                      <a href="/fact" class="button" id="signup">Fact Check</a>
                  </li>
              </ul>
          </div>
      </nav>
          <form action="{{ url_for('predict')}}" method="POST">
    	<textarea  name="message" rows="6" cols="50" required="required" style="font-size: 18pt"></textarea>
		<br> </br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>

        	<div class="results">

	{% if prediction == ['FAKE']%}
	<h2 style="color:red;">Fake News📰 </h2>
	{% elif prediction == ['REAL']%}
				<h2 style="color:green;"><b>Real News📰</b></h2>
	{% endif %}

	</div>

    </form>
      </body>
    </html>